##<img src="https://raw.githubusercontent.com/DanielG-H/computer_graphics/main/PoCETYS.PNG" alt="PortadaCETYS" />

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import ast
import itertools
# pd.set_option('display.max_columns', None)

In [2]:
# PREPROCESAMIENTO DE DATOS
bb = pd.read_csv('https://raw.githubusercontent.com/Magnus1515/PruebaGithub/master/Best_Book_21st.csv')
bb = bb.fillna(0)
bb = bb.drop_duplicates(subset='title')
bb.head(2)

,id,title,series,author,book_link,genre,date_published,publisher,num_of_page,lang,review_count,rating_count,rate,award
0,0,The Martian,\n (The Martian #1)\n,Andy Weir,https://www.goodreads.com/book/show/18007564-t...,"Science Fiction,Fiction,Audiobook,Adventure,Sp...",February 11th 2014,"Crown\n\n ,",384.0,English,"77,156","919,781",4.40,Kurd-Laßwitz-Preis for Bestes ausländisches We...
1,1,Under the Banner of Heaven: A Story of Violent...,0,Jon Krakauer,https://www.goodreads.com/book/show/10847.Unde...,"Nonfiction,Religion,History,Crime,True Crime,M...",2004,"Pan MacMillan\n\n ,",400.0,English,"10,981","173,895",3.98,Colorado Book Award for General Nonfiction (2004)

In [3]:
# Se da un input de entrenamiento poniendo titulos y asignando ratings (imitando la preferencia de un usuario)
inputUser = [
            {'title':'The Glass Castle', 'rating':1},
            {'title':'Catching Fire (The Hunger Games)', 'rating':2},
            {'title':'Harry Potter and the Cursed Child: Parts One and Two (Harry Potter, #8) ', 'rating':3},
            {'title':'The Martian', 'rating':3},
            {'title':'The Life of Pi', 'rating':5}
         ] 
inputBooks = pd.DataFrame(inputUser)
inputBooks

                                               title  rating
0                                   The Glass Castle       1
1                   Catching Fire (The Hunger Games)       2
2  Harry Potter and the Cursed Child: Parts One a...       3
3                                        The Martian       3
4                                     The Life of Pi       5

In [4]:
# busca el libro y la asigna si id y genero
inputID = bb[bb['title'].isin(inputBooks['title'].tolist())]
inputBooks = pd.merge(inputID, inputBooks)
inputBooks.drop(columns = ['book_link','series','date_published','num_of_page',
                           'publisher','award','rating_count', 'review_count',
                           'rating_count','rate','lang'], inplace = True )
inputBooks = inputBooks.drop_duplicates(subset='id')
inputBooks

,id,title,author,genre,rating
0,0,The Martian,Andy Weir,"Science Fiction,Fiction,Audiobook,Adventure,Sp...",3
1,730,The Glass Castle,Jeannette Walls,"Nonfiction,Autobiography,Memoir,Biography,Biog...",1

In [5]:
# se remueven columnas innecesarias, y se hace el metodo bag of letters, separando todas las letras de todos los generos, y al pasar por el genero 
# de cierto libro marca con uno si ese genero tiene una letra y 0 sino. Eso se hace para todos los libros del dataset

BooksWithGenres_df = bb.copy()

for index, row in bb.iterrows():
    if row['genre'] == 0:
      continue
    for genre in row['genre']:
        BooksWithGenres_df.at[index, genre] = 1

BooksWithGenres_df = BooksWithGenres_df.fillna(0)
BooksWithGenres_df.drop(columns = ['book_link','series','date_published','num_of_page',
                           'publisher','award','rating_count', 'review_count',
                           'rating_count','rate','lang'], inplace = True )
BooksWithGenres_df.head(2)

,id,title,author,genre,S,c,i,e,n,,...,9,é,x,Z,K,4,5,6,j,X
0,0,The Martian,Andy Weir,"Science Fiction,Fiction,Audiobook,Adventure,Sp...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Under the Banner of Heaven: A Story of Violent...,Jon Krakauer,"Nonfiction,Religion,History,Crime,True Crime,M...",0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# separa los generos que estan divididos por comas
BooksWithGenres_df['genre'] = BooksWithGenres_df.genre.str.split(',')
BooksWithGenres_df

,id,title,author,genre,S,c,i,e,n,,...,9,é,x,Z,K,4,5,6,j,X
0,0,The Martian,Andy Weir,"[Science Fiction, Fiction, Audiobook, Adventur...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Under the Banner of Heaven: A Story of Violent...,Jon Krakauer,"[Nonfiction, Religion, History, Crime, True Cr...",0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Cutting for Stone,Abraham Verghese,"[Fiction, Historical, Historical Fiction, Cult...",0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,We Need to Talk About Kevin,Lionel Shriver,"[Fiction, Contemporary, Thriller, Horror, Myst...",0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,The Immortal Life of Henrietta Lacks,Rebecca Skloot,"[Nonfiction, Science, History, Biography, Heal...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10013,10013,"Edge of Passion (Stealth Guardians, #1)",Tina Folsom,"[Fantasy, Paranormal, Romance, Romance, Parano...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10014,10014,Tales from a Not-So-Popular Party Girl (Dork D...,Rachel Renée Russell,"[Childrens, Middle Grade, Realistic Fiction, C...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10015,10015,Bottoms,Tanja Kirschner,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10016,10016,The Wedding Dress,Gary E. Parker,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10017,10017,The Immortal Hunter (Argeneau #11; Rogue Hunte...,Lynsay Sands,"[Romance, Paranormal Romance, Paranormal, Vamp...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# despues se busca en esos titulos de bag of letters los libros input del usuario para obtener sus bag of letters
userBooks = BooksWithGenres_df[BooksWithGenres_df['id'].isin(inputBooks['id'].tolist())]
userBooks

,id,title,author,genre,S,c,i,e,n,,...,9,é,x,Z,K,4,5,6,j,X
0,0,The Martian,Andy Weir,"[Science Fiction, Fiction, Audiobook, Adventur...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
730,730,The Glass Castle,Jeannette Walls,"[Nonfiction, Autobiography, Memoir, Biography,...",1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Se remueven las columnas

userBooks = userBooks.reset_index(drop = True)
userGenreTable = userBooks.drop(columns = ['id', 'title','author','genre'])
userGenreTable

,S,c,i,e,n,,F,t,o,",",...,9,é,x,Z,K,4,5,6,j,X
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# obtiene los ratings del libro input

inputBooks['rating']

0    3
1    1
Name: rating, dtype: int64

In [10]:
# obtiene los scores a traves de hacer un producto punto con la lista de ratings y la matriz de bag of letters de cada libro
userProfile = userGenreTable.transpose().dot(inputBooks['rating'])
userProfile

S    4.0
c    4.0
i    4.0
e    4.0
n    4.0
    ...
4    0.0
5    0.0
6    0.0
j    0.0
X    0.0
Length: 65, dtype: float64

In [11]:
# remueve columnas innecesarias y pone los ids a los libros
genreTable = BooksWithGenres_df.set_index(BooksWithGenres_df['id'])
genreTable = genreTable.drop(columns = ['id','title','author','genre'])
genreTable.head

<bound method NDFrame.head of          S    c    i    e    n         F    t    o    ,  ...    9    é    x  \
id                                                       ...
0      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
1      0.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
2      0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
3      0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
4      1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
10013  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
10014  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
10015  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
10016  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
10017  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0

         Z    K    4    5    6    j    X
id
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...
10013  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10014  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10015  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10016  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10017  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[9098 rows x 65 columns]>

In [12]:
# hace el calculo del porcentaje de similitud entre los libros de input y los del dataset: multiplica los scores de los inputs y la matriz de bag of letters y los suma para cada cada uno, al final divide esa cantidad 
# entre la suma de los scores del input
recommendationTableDF = ((genreTable * userProfile).sum(axis=1))/(userProfile.sum())
recommendationTableDF.head()

id
0    0.942857
1    0.904762
2    0.885714
3    0.828571
4    0.914286
dtype: float64

In [13]:
# al hacer ordaniento de mayor a menor, se obtienen lo5 libros con el porcentaje mas alto de probabilidad de coincidencia, y por consiguiente, las recomendaciones
recommendationTableDF = recommendationTableDF.sort_values(ascending = False)
recommendationTableDF.head(50)

id
8335    1.000000
6285    0.980952
283     0.971429
8411    0.961905
4841    0.961905
8277    0.961905
8187    0.961905
807     0.961905
6329    0.961905
4716    0.961905
9698    0.961905
3348    0.961905
5115    0.961905
4039    0.961905
7087    0.961905
7715    0.952381
571     0.952381
776     0.952381
9433    0.952381
6193    0.952381
3802    0.952381
7382    0.952381
2873    0.952381
7419    0.952381
2512    0.952381
2084    0.952381
484     0.952381
9285    0.952381
269     0.952381
9756    0.952381
8581    0.952381
2698    0.952381
2650    0.952381
9956    0.952381
7072    0.952381
8599    0.952381
4946    0.952381
3544    0.942857
3487    0.942857
6071    0.942857
9622    0.942857
478     0.942857
3556    0.942857
7781    0.942857
2887    0.942857
3496    0.942857
6070    0.942857
2238    0.942857
7731    0.942857
6432    0.942857
dtype: float64

In [14]:
# Se buscan los datos de los libros recomendados 
bb = bb.loc[bb['id'].isin(recommendationTableDF.head(5).keys())]
bb = bb.drop(columns = ['book_link','publisher','num_of_page', 'lang',
                    'review_count', 'rating_count', 'rate', 'award'])
bb.drop(columns = ['series'])

,id,title,author,genre,date_published
283,283,"The Past (VanWest, #1)",Kenneth Thomas,"Science Fiction,Time Travel,Science Fiction,Sc...",May 20th 2020
4841,4841,The $100 Startup: Reinvent the Way You Make a ...,Chris Guillebeau,"Business,Nonfiction,Business,Entrepreneurship,...",May 8th 2012
6285,6285,The Shadow Factory: The Ultra-Secret NSA from ...,James Bamford,"Nonfiction,History,Politics,Spy Thriller,Espio...",October 14th 2008
8335,8335,It's Not About the Tapas: A Spanish Adventure ...,Polly Evans,"Travel,Nonfiction,Cultural,Spain,Autobiography...",June 27th 2006
8411,8411,Doctor Who: The Chimes of Midnight,"Robert Shearman,Paul McGann,India Fisher","Media Tie In,Doctor Who,Science Fiction,Audiob...",February 1st 2002